<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.title }}<br>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item{% if page.url == "/forum/index.html" %} active{% endif %}" href="{{ site.baseurl }}/forum/index.html">Assignments &amp; Forum</a>
    <a class="sidebar-nav-item{% if page.url == "/toc.html" %} active{% endif %}" href="{{ site.baseurl }}/toc.html">Table of Contents</a>

    {% for chapter in site.collections %}
    {% if chapter.label != 'posts' %}
    <div class="sidebar-nav-item chapter{% if page.collection == chapter.label %} active active-chapter{% endif %}" onclick="toggleChapter(this);">{{ chapter.name }}
      <ul class="chapter-contents">
        {% for lesson in chapter.docs %}
        <li><a href="{{ lesson.url | prepend: site.baseurl }}">{{ lesson.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
    
    <a class="sidebar-nav-item{% if page.url == "/about.html" %} active{% endif %}" href="{{ site.baseurl }}/about.html">About</a>
    <a class="sidebar-nav-item{% if page.url == "/search/" %} active{% endif %}" href="{{ site.baseurl }}/search/index.html">Search</a>
    <a class="sidebar-nav-item{% if page.url == "/abc-tutorial.html" %} active{% endif %}" href="{{ site.baseurl }}/abc-tutorial.html">ABC Tutorial</a>
    <a class="sidebar-nav-item{% if page.url == "/abc-playground.html" %} active{% endif %}" href="{{ site.baseurl }}/abc-playground.html">ABC Playground</a>
    <a class="sidebar-nav-item" href="{{ site.github-repo }}">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" >CC BY-SA</a> {{ site.published }}. 
    </p>
  </div>
</div>
