/* apply theme following lanyon method */
.sidebar,
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: $theme-color;
}
.container a,
.sidebar-toggle,
.related-posts li a:hover {
  color: $theme-color;
}
/* fix theme background color bug */
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #555; 
}
/* index page link buttons */
.index-buttons {
    padding-left: 0; 
    text-align: center;
    li {
        list-style: none;
        display: inline-block;
        border: solid 1px $theme-color;
        border-radius: 5px;
        padding: 2px 5px;
        margin: 4px 2px 2px 2px;
    }
}
/* add chapter styles for sidebar */
.chapter {
    cursor: pointer;
}
.chapter-contents {
    display: none;
}
.active-chapter {
    .chapter-contents {
        display: block;
    }
}
.sidebar {
    color: $sidenav-text-color;
    a {
        color: $sidenav-link-color;
    }
}
.sidebar-nav {
    border-bottom: 1px solid $sidenav-active-bg;
}
.sidebar-nav-item {
    border-top: 1px solid $sidenav-active-bg;
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    background-color: $sidenav-active-bg;
}
/* chapter navigation */
#chapter-nav {
    color: #c0c0c0;
    font-size: 16px;
    text-align: right;
    line-height: 1.25;
    a { color: #c0c0c0;
    }

}
#chapter-buttons {
    display: block;
    margin: 2rem auto 0;
    .topic-nav {
        display: inline-block;
        width: 49%;
        border: solid 1px $theme-color;
        border-radius: 5px;
        padding: 2px 5px;
        font-size: 16px;
        text-align: center;
        a { 
            display: inline-block;
            width: 100%;
        }
    }
    .prev { float: left; }
    .next { float: right; }
}
#chapter-buttons:after {
    content: "";
    display: table;
    clear: both;    
}
/* forum */
.forum-help {
    font-size: 14px;
    color: #7a7a7a;
    text-align: center;
    border: solid 1px #cccccc;
    border-radius: 5px;
}
